body {
    background-color: #7FC8A9;
    text-align: center;
}

hr {
    border-top: 1px dotted #D5EEBB;
    background-color: #46742b;
}

h1 {
    margin: 0 auto 100px auto;
    width: 40%;
    font-family: cursive;
    color: #444941;
}

h2 {
    font-family: sans-serif;
    width: 40%;
    color: #5F7A61;
}

h3 {
    width: 40%;
    font-family: sans-serif;
    color: #5F7A61;   
}

ol li{
    width: 40%;
    text-align: justify;
    color: #46742b;
    font-weight: bold;
    font-size: 20px;
    list-style-image: url(abu.png);
}